@import "tailwindcss";

:root {
  --color-pano-blue: #545ec6;
  --color-pano-dark-blue: #2a2e61;
}

@theme {
  --font-sans: "Arial", sans-serif;

  --color-pano-blue: var(--color-pano-blue);
  --color-pano-dark-blue: var(--color-pano-dark-blue);
}

@utility text-shadow-black-bottom {
  text-shadow: 0 2px 0 #000;
}

body, * {
  cursor: none !important;
}